/* 1 Reset --------------------- */

/* 2 Font ---------------------- */
body{
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    color: #333;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #f2f2f2;
}

/* 3 Link ---------------------- */
a:link, a:visited{
    color:#999;
    text-decoration: none;
}
a:hover, a:active{
    color: #ccc;
    text-decoration: none;
}

/* 4 Animation --------------------*/
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.fade-in{
    animation: fade-in 1s ease 0s 1 forwards normal;
}

/* header ---------------------------- */
header{
    width: 100%;
    height: 640px;
    /* background: url(../img/main01.jpg) center center no-repeat; */
    /* background-size: cover; 背景画像の拡大縮小 */
    position: relative; /* 相対配置 親の基点 */
    opacity: 0;
    animation: fade-in .8s .5s ease-out 1 forwards normal;
    overflow: hidden;
    position: relative;
    z-index: 2;
}


/* slick slider -------- */
@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.woff') format('woff');
}
.slider{
    width: 100%;
    height: 640px;
    position: absolute;
    left: 0;
    top: 0;
}
.slick-track{
    height: 640px;
}
.slide1{
    background: url(../img/main01.jpg) center center no-repeat;
    background-size: cover;
}
.slide2{
    background: url(../img/main02.jpg) center center no-repeat;
    background-size: cover;
}
.slide3{
    background: url(../img/main03.jpg) center center no-repeat;
    background-size: cover;
}

.slick-dots{
    position: absolute;
    bottom: 100px;
}


header h1{
    width: 130px;
    height: 130px;
    background-color: #FFF;
    text-align: center;
    position: absolute; /* 絶対配置 子の座標指定 */
    left: calc(50% - 65px);
    top: calc(50% - 65px);
    z-index: 3;
    opacity: 0;
    animation: fade-in .8s 2s ease-out 1 forwards normal;
}
header h1 img{
    width: 100px;
    height: auto;
    margin-top: 30px;
}
header nav{
    width: 100%;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
}
header nav .container{
    width: 1140px;
    height: 64px;
    margin: 0 auto;
    display: flex;
}
header nav h2{
    width: 60px;
    height: 37px;
    margin-top: 14px;
}
header nav h2 img{
    width: 60px;
    height: auto;
}
header nav ul{
    width: 460px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
header nav ul a{
    display: block; /* リンク領域を広げる */
    height: 64px;
    line-height: 4.4;
    padding: 0 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #CCC;
    letter-spacing: 0.1rem;
}
header nav ul li.current a{
    box-sizing: border-box; /* padding と borderがwidthとheightに含まれる */
    border-bottom: 2px #CCC solid;
    color: #CCC;
}


/* loader ------------------------------*/
.loader-cotainer{
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: 300px;
    z-index: 1;
}
.sk-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/* Responsive -------------------*/
.mobile-menu{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.mobile-menu img {
    width: 40px;
    height: auto;
}
.mobile-close{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.mobile-close img {
    width: 40px;
    height: auto;
}
@media (max-width:767px) {
    header{
        height: 100vh;
    }
    header .slide1 {
        background-position: -270px center;
    }
    .slider{
        height: 100vh;
    }
    .slick-track{
        height: 100vh;
    }
    .mobile-menu{
        display: block;
    }
    header nav{
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.98);
        position: fixed;
        left: 0;
        top: 0;
        /* Responsive navのフェード */
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s, visibility 0s ease 1s;
    }
    header nav.mobile-menu-open{
        /* Responsive navのフェード */
        transition-delay: 0s;
        opacity: 1;
        visibility: visible;
        z-index: 200;
    }
    header nav .container{
        width: 100%;
        height: 100vh;
        margin: 0;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
    }
    .mobile-close{
        display: block;
    }
    header nav h2{
        width: 100%;
        margin-top: 80px;
        text-align: center;
    }
    header nav ul{
        width: 100%;
        height: auto;
        display: block;
        margin: 20px 0 0;
    }
    header nav ul a{
        padding: 0;
        text-align: center;
    }
    header nav ul li.current a{
        border-bottom: none;
        color: #CCC;
    }
}

/* works --------------------------------- */
#works{
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background-color: #f4f4f4;
}
#works h2{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
}
.sub-copy{
    font-size: 16px;
    margin-bottom: 64px;
}
#works .container{
    width: 100%;
    display: flex;
}
#works section{
    height: 468px;
    flex-grow: 1; /* 比率 */
    opacity: 0;
    background-color: #000;
    position: relative;
}
#works section .works-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 468px;
    background-size: cover;
    opacity: 1;
    transition: all 1s ease;
    cursor: pointer;
}
#works section .works-bg:hover{
    opacity: 0.2;
}
#graphic{
    animation-delay: 0.5s;
}
#signage-vr{
    animation-delay: 1s;
}
#ui-ux{
    animation-delay: 1.5s;
}
#graphic .works-bg{
    background: url(../img/works01.jpg) center center no-repeat;
}
#signage-vr .works-bg{
    background: url(../img/works02.png) center center no-repeat;
}
#ui-ux .works-bg{
    background: url(../img/works03.png) center center no-repeat;
}
#overlay{
    width: 100vw;
    height: 100vh;
    /* fade-in animation */
    transition: opacity 1s, visibility 0s ease 1s;
    opacity: 0;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
#overlay.show{
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}
.modal{
    position: fixed;
    left: calc(50% - 235px);
    top: calc(50% - 235px);
    width: 470px;
    height: 470px;
}
.modal img{
    width: 470px;
    height: auto;
}
#works h3{
    position: absolute;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;
    top:calc(50% - 18px);
    width: 100%;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.btn{
    width: 268px;
    height: 44px;
    margin: 64px auto 0;
}
.btn a{
    display: block;
    width: 268px;
    height: 44px;
    background-color: rgba(68,68,68,1);
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0.1rem;
    line-height: 2.8;
}
.btn a:hover{
    background-color: rgba(255,68,68,0.6);
}
.btn a i{
    transform: translate(0,7px);
}

@media (max-width:767px) {
    #works .container{
        display: block;
    }
    .btn{
        width: 100%;
        padding: 0 16px;
        margin: 64px auto 0;
        box-sizing: border-box;
    }
    .btn a{
        width: 100%;
    }
}


/* news ------------------------*/
#news{
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background-color: #e6e6e6;
}
#news h2{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
}
#news .container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#news article{
    width: 360px;
    height: 420px;
    background-color: #FFF;
    text-align: left;
}
.news-data{
    padding: 16px;
    display: flex;
}
.news-data time{
    font-size: 12px;
    color: #666;
    letter-spacing: 0.1rem;
}
.news-category{
    width: 90px;
    background-color: #A0A0A0;
    color: #FFF;
    font-size: 11px;
    border-radius: 3px;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-left: auto;
}
.news-category-seminar{
    background-color: #17d8e6;
}
.news-category-media{
    background-color: #e69a17;
}
#news h3{
    padding: 16px;
    font-size: 13px;
}

@media (max-width:767px) {
    #news .container{
        width: 100%;
        margin: 0;
        display: block;
        padding: 0 16px;
        box-sizing: border-box;
    }
    #news article{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #news article img{
        width: 100%;
        max-width: 100%;
    }
}

/* footer ----------------------------- */
footer{
    width: 100%;
    padding: 80px 0;
    background-color: #f4f4f4;
    text-align: center;
}
footer h1 img{
    width: 80px;
    height: auto;
}
footer nav{
    padding: 64px 0;
    letter-spacing: 0.1rem;
}
.footer-nav-global{
    width: 320px;
    margin: 0 auto 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.footer-nav-sns{
    width: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer address{
    color:#666;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 64px;
}

footer p small{
    font-size: 11px;
    color: #666;
    letter-spacing: 0.1rem;
}

@media (max-width:767px){
    .footer-nav-global{
        width: 100%;
        margin: 0 0 24px;
        display: block; /* flexの解除 */
    }
    .footer-nav-global li{
        margin-bottom: 20px;
    }
}
